---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  background: orange;
}
h1, h2, h3, h4, h5, h6 {
  color: orange;
}

.post-navigation {
  margin: 3em 0;
  .nav-links {
    border-top: 1em;
  }
  .nav-previous {
    float: left;
  }
  .nav-next {
    float: right;
    text-align: right;
  }
  span.nav-subtitle {
    font-size: smaller;
  }
  span.nav-title {
    font-weight: bold;
  }
}
